.commentsRightSideBar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 1s;
  width: fit-content;

  .sideBarHeader {
    display: flex;
    justify-content: space-between;
  }

  .commentsGeneral {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin: 0 auto;
  }
}

.commentsBtn {
  display: flex;
  border: none;
  background: transparent;
  cursor: pointer;
}
